*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    height: auto;
}

html{
    scroll-behavior: smooth;
}
.section{
    display: flex;
    
    
}

.left{
    width: 50%;
    height: 100vh;
    background-color: rgb(229, 185, 127);
}
.right{
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: rgb(234, 203, 161);
}

#cup{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    width: 650px;
    height: 650px;
}
nav{
    padding: 10px 50px;
    
    width: 100%;
    height: 100px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_right{
    margin-right: 50px;
}

.h_text{
    position: absolute;
    color: white;
    top: 15%;
    left: 15%;
    letter-spacing: 5px;
    font-size: 30px;
}

.t_left{
    position: absolute;
    
    font-family: 'Times New Roman', Times, serif;
    color: white;
    left: 5%;
    bottom: 5%;
    max-width: 400px;
    padding-left: 50px;
    border-left: 5px solid rgb(120, 71, 6);
    letter-spacing: 0.2px;
    
}
.t_left p{
    color: rgb(219, 135, 26);
    margin-top: 10px;
}

.t_right{
    position: absolute;
    
    font-family: 'Times New Roman', Times, serif;
    color: rgb(219, 135, 26);
    right: 0;
    bottom: 20%;
    max-width: 400px;
    padding-right: 70px;
    letter-spacing: 0.2px;
    
}
.upper{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: rgb(95, 55, 3);
}

.lower{
    font-family: cursive;

    color: rgb(95, 55, 3);
}

.l_box{
    width: 300px;
    height: 400px;
    position: absolute;
    bottom: 3%;
    background-color: rgb(219,135,26,0.2);
    
}

.r_box{
    width: 300px;
    height: 270px;
    position: absolute;
    bottom: 18%;
    right: 0;
    background-color: rgb(219,135,26,0.2);
}

footer{
    bottom: 18%;
    font-size: x-small;
    text-align: center;
    
}    
#logo{
    padding-left: 5px;
}
nav{
    position: absolute;
    display: flex;
    /* justify-content: space-evenly; */

}

ul{
    display: flex;
    width: 40%;
    
    justify-content: space-between;
    list-style: none;
    
}

li:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
    border-radius: 10px;
    align-items: center;
    border-bottom: none;
}

#coffe{
    width: 100%;
    align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
}

@media (max-width: 768px) {
    .cup{
        width: 400px;
    }
}